:root {--vh: 1%}
$bp1: 1499.98px;
$bp2: 991.98px;
$bp3: 767.98px;
$bp4: 575.98px;
$bp5: 479.98px;
$bp6: 370.98px;
$base-blue: #193A8A;
$dark-blue: #17064A;
$light-blue: #7C8EBA;
$dark-gray: #7D7D7D;
$light-gray: #BEBEBE;
$white-gray: #FAFAFA;
$gray: #e5e5e5;
$white: #FFFFFF;
$black: #000000;
$red: #B62732;

